body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    position: absolute;
    z-index: 1;
    height: 40px;
    width: 500px;
    border: 3px solid lightblue;
    background-color: white;
    text-align: center;
}
.background{
	position: absolute;
	background: url(images/bathroom.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	width:1000px;
	height:700px;
}
img{
	position: absolute;
	cursor: pointer;
}


#brush{
	left: 550px;
	top: 475px;
}
#cream{
	left: 505px;
	top: 430px;
}
#eyeshadow{
	left: 160px;
	top: 550px;
}
#face-powder{
	left: 380px;
	top: 490px;
}
#hairbrush{
	left: 620px;
	top: 420px;
}
#lipstick{
	left: 600px;
	top: 98px;
}
#makeup-sponge{
	left: 0px;
	top: 50px;
}
#mascara{
	left: 750px;
	top: 400px;
}
#perfume{
	left: 0px;
	top: 375px;
}
#scissors{
	left: 710px;
	top: 570px;
}
#shampoo{
	left: 60px;
	top: 335px;
}
#shaving-kit{
	left: 150px;
	top: 370px;
}
#soap{
	left: 885px;
	top: 550px;
}
#toothbrush{
	left: 270px;
	top: 450px;
}
#toothpaste{
	left: 370px;
	top: 440px;
}
